@import "~bootstrap/scss/bootstrap";

body{
    background-color: #ffe414;
    font-family: 'Indie Flower', cursive;
}


button{
    margin:50px 0px;
}

.navLinks a{
    text-decoration: none;
    font-size: 25px;
}
.brand {
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.order{
    font-size: 25px;
    background-color: red;
    border-radius: 5px;;
}

.navbar{
 background-color: black;
 border: none;
}


.build {
    text-align: center;
    margin: 20px 0px;
}

.receipt {
    margin: 15px 0px;
    padding: 20px; 
    background-color: #fff;
    border-radius: 5px;
}

#order-button{
    background-color: #000;
}



