body{
    background-color: #ffe414;
    font-family: 'Indie Flower', cursive;
}

/* .item-names{
    justify-content: center;
} */


button{
    margin:50px 0px;
}

.navLinks a{
    text-decoration: none;
    font-size: 25px;
}
.brand {
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.order{
    font-size: 25px;
    background-color: red;
    border-radius: 5px;;
}

.navbar{
 background-color: black;
 border: none;
}
